body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #ecd6c7;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

